.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  background-color: #0288d1; 
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: #fff;
}

.active {
  background-color: #000;
  color: #fff;
}

.user_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user_name {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

.user_email {
  margin: 0;
  font-size: 0.8rem;
  color: #b0bec5; 
}

.exit {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}
